.landing-page{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.landing-text{
    font-family: Verdana;
    font-size: 18px;
    max-width: 700px ;
    p:nth-child(1){
        position: relative;
    }
    
    p:nth-child(1)::after {
        content: "";
        position: absolute;
        background-color: #89CFF0;
        -webkit-box-shadow: 0 0 8px #89CFF0;
        box-shadow: 0 0 8px 10px #89CFF0;
        height: 15px;
        left: 10px;
        bottom: 0;
        width: 85%;
        z-index: -1;
    }
}

.landing-img{
    height: 180px;
    width: 180px;

}

.highlight-skill{
    background:none; 
    color:#007fb9
}

.landing-header{
    color: #007fb9;
    font-size: 36px;
}

@media (max-width: 600px) {
    .landing-text{
        width: 100vw;
    }
  }